<script setup>
import { onMounted } from 'vue';
import Crsl from './crsl.vue';
</script>

<template>
  <main>
    <Crsl />
    <div class="describing">
      <h1>ДОБРО ПОЖАЛОВАТЬ НА НАШ САЙТ!</h1>
      <img src="src\assets\woman.jpg" alt="" />
      <div class="content">
        <p>Дорогие друзья! Я рада приветствовать всех гостей нашего сайта.</p>
        <p>
          Школа 8 основана 18 августа 1954 года решением Исполнительного
          комитета Ленинского районного совет депутатов трудящихся города
          Таганрога, сегодня ей - 68 лет. Это возраст, когда мы можем с
          гордостью говорить о прошлом и строить планы для осуществления новых
          идей и открытий в будущем.
        </p>
        <p>
          Сложившиеся еще с прошлого века традиции математического образования и
          патриотического воспитания не позволяют нам стоять на месте.
          Творческий, высокопрофессиональный коллектив педагогов в союзе с
          талантливыми учениками и неравнодушными родителями находится в
          постоянном поиске. Наша общая цель – развитие школы в контексте
          «культуры успеха». Мы уверены, что неуспешных людей нет. Главное –
          создать возможности, чтобы каждый участник образовательного процесса
          смог открыть в себе талант и почувствовать себя успешным.
        </p>
        <p>
          На страницах нашего сайта вы сможете познакомиться с историей школы,
          узнать о ее традициях, изучить нормативные документы, регламентирующие
          основные вопросы образовательной деятельности, оперативно найти нужную
          и полезную информацию. Добро пожаловать на сайт «Школы Успеха»!
        </p>
      </div>
    </div>

    <div class="lastNews"></div>
  </main>
</template>

<style scoped>
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 450px);
}
p {
  font-size: 20px;
}
</style>
